html, body {
    height: 100%;
    background-color:#dfe2e6;
  }


 h1{
     font-size: 25px;
     word-wrap: break-word;
 }
 #docContainer{
    margin-top:30vh;
    width:100%;

 }
 #doc{
    box-shadow: 0 0 5px 2px #bdbdbd;
    margin-bottom:30vh;
 }



 /* Style the navbar */
#navbar {
    padding-top:10px;
    padding-bottom:10px;
    background-color: #ffffff;
    box-shadow: 0 0 5px 2px #bdbdbd;
  }
  
#debug{
  

}
#docLogo{
    height:50px;
    width: auto;
}



#docTitle{
  cursor:pointer; 
  font-size: x-large;
  text-overflow: ellipsis;
}

#settingsBarContainer{

}

#fontSettingsContainer{

}

#buttonsContainer{
  padding-top:10px;
}
.btn-secondary{
  background-color: white;
  border-radius: 0;
  color:black;
  border:none;
}

.btn-secondary:hover{
  background-color: #797979;
}

#iconButton{
  cursor:pointer;
  font-size: 20px;
  width:20px;
  padding-top:5px;
  transition: text-shadow  0.2s;
}
.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  appearance: none;
  width: 100%; /* Full-width */
  height:5px;
  background: #bdbdbd; /* Grey background */
  outline: none; /* Remove outline */

  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: background .2s;
  margin-top:8px;
  margin-bottom: 15px;
  min-width: 100px;
  max-width: 150px;
}

.slider:hover {
  background: #a3a3a3; /* Fully shown on mouse-over */
}
.slider:active{
  
}
.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #545B62; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 10px; /* Set a specific slider handle width */
  height: 20px; /* Slider handle height */
  background: #545B62; /* Green background */
  cursor: pointer; /* Cursor on hover */
}

  /* Page content */
  .content {
    padding: 16px;
  }

  /* The sticky class is added to the navbar with JS when it reaches its scroll position */
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .sticky + .content {
    padding-top: 60px;
  }

  .stickyBottom {
    position: fixed;
    top: 100%;
    width: 100%;
  }
  
  /* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
  .stickyBottom + .content {
    padding-top: 60px;
  }